/* KEYFRAMES */

@keyframes spin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(359deg);
    }
}

@keyframes spin3D {
    from {
        transform: rotate3d(.5, .5, .5, 360deg);
    }

    to {
        transform: rotate3d(0deg);
    }
}

@keyframes configure-clockwise {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes configure-xclockwise {
    0% {
        transform: rotate(45deg);
    }

    25% {
        transform: rotate(-45deg);
    }

    50% {
        transform: rotate(-135deg);
    }

    75% {
        transform: rotate(-225deg);
    }

    100% {
        transform: rotate(-315deg);
    }
}

@keyframes pulse {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: .25;
        transform: scale(.75);
    }
}

@font-face {
    font-family: Nunito;
    src: url("../fonts/Nunito-Regular.ttf");
}

@font-face {
    font-family: Joyride;
    src: url("../fonts/Joyride-Regular.otf");
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-Light.ttf");
}




body {
    background-size: cover;
    overflow-y: hidden;

    /* align-items: center;
    justify-content: center; */
    color: rgb(14, 14, 14);
    user-select: none;
    background: url(/img/wallpaper.png);
    

}


.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background-color: #000000af;

    padding: 5vh;

    

}

.logo-text {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2.5vh;
    margin-top: 4.5vh;
    /* background-color: aquamarine; */
}

.logo-text img {
    width: 160px;
    height: auto;
    filter: drop-shadow(0px 10px 6px rgba(255, 255, 255, 0.603));
    max-width: 300px;
}

.logo-text h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, bold;
    font-size: 60px;
    color: rgb(255, 255, 255);
    text-align: center;

}

.logo-text p {
    margin-top: 1%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    opacity: 0.9;
}


.Salty-error {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    padding: 4% 30%;
    transition: transform 250ms;
}


.icon-box {
    align-items: center;
    justify-content: center;
    margin: 1% 2%;
    width:auto;
    height: auto;
    display: inline;
    float: left;
    overflow: hidden;
    background: linear-gradient(0.50turn, #035ed6d2, #035ed628, transparent);
    /* filter: drop-shadow(0px 5px 3px #035ed6d2); */



    border-radius: 5px;
    border-color: #035ed6;
    padding: 10px;
    transition: transform 250ms;
}

.Salty-error :hover {
    transform: scale(1.2, 1.2);
}

.icon-box img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 27px;
    max-width: 100px;
    max-height: 100px;
    min-width: 25px;
    min-height: 25px;

    filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.493));
    transition: transform 250ms;
}

.icon-box h4 {
    transition: transform 250ms;
    color: #ffffffe6;
    text-align: center;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.icon-box p {
    transition: transform 250ms;
    color: #ffffffe6;
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.7;
}


.wait {

    padding: 1% 47%;

    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 100px;
    min-width: 25px;
    min-height: 25px;
}


.wait p {
    color: #ffffffe6;
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.7;
}








.spinner-box {
    padding: 20px;
    width: 60px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}


/* PULSE BUBBLES */

.pulse-container {
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pulse-bubble {
    width: 50px;
    height: 15px;
    border-radius: 20%;
    background-color: #115288;
}

.pulse-bubble-1 {
    animation: pulse .6s ease 0s infinite alternate;
}

.pulse-bubble-2 {
    animation: pulse .6s ease .2s infinite alternate;
}

.pulse-bubble-3 {
    animation: pulse .6s ease .4s infinite alternate;
}



.tips{
    padding: 1% 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    
    max-width: 700px;
    max-height: 100px;
    min-width: 550px;
    min-height: 50px;
    

}

.tips img{
    padding: 10px 10px;
    width: 40px;
}

.tips span {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #ffffffe6;
    text-align: left;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.8;

}